body{
    color :white;
    background-color: rgb(38, 38, 38);
}
main{
    padding: 20px;
    border: 10px red;
    margin: 0;
    padding: 0;
}

header{
    background-color:  orangered;
    text-align: center;

}
footer{
    
    clear: both;
    padding: 10px;
    
    text-align: center;
}
.lateral{
    float: left;
    width: 25%;
    height: 150px;
    padding-right: 5%;
    background-color:rgb(44, 44, 44);
    border-radius: 15px;
    border: 4px solid white;
    text-align: center;

}
.tablero{
    text-align: center;
}